name: Software Testing for ILP MedSupplyDrone CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: "./ILP Coursework"

    steps:
    - name: Checkout Source Code
      uses: actions/checkout@v4

    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven

    - name: Build and Compile
      run: mvn clean compile

    - name: Run Automated Tests 
      run: mvn test